*.py[cdo]
*.egg-info/

/env*/
/build/
/cython_debug/
/dist/

*.c
*.cpp
*.so
*.o

run.cgi

*.swp*
*.nfs*
*~
*.~*
~*
*.tmp
*.old
*.bak
*.pid

.*
!.git*
!.readthedocs.yaml

*.orig

/DerivedGeneralCategory.txt
/citylots.json
