[submodule "third-party/json5-tests"]
	path = third-party/json5-tests
	url = https://github.com/json5/json5-tests.git
[submodule "third-party/JSONTestSuite"]
	path = third-party/JSONTestSuite
	url = https://github.com/nst/JSONTestSuite.git
[submodule "third-party/fast_double_parser"]
	path = third-party/fast_double_parser
	url = https://github.com/lemire/fast_double_parser.git
