# keep synchronous to setup.cfg
# keep synchronous to src/VERSION.inc
pyjson5 == 1.6.3

# keep synchronous to requirements-dev.txt
docutils == 0.17.*
myst-parser == 0.18.*
sphinx == 5.*
sphinx_autodoc_typehints == 1.*
sphinx_rtd_theme == 1.*
