# keep synchronous to setup.cfg
# keep synchronous to src/VERSION.inc
pyjson5 == 1.6.7

# keep synchronous to requirements-dev.txt
docutils == 0.21.*
furo
myst-parser == 2.*
sphinx == 7.*
sphinx_autodoc_typehints == 2.*
