build
cibuildwheel == 2.*
colorama == 0.4.*
docutils == 0.17.*
cython == 0.*
more_itertools == 8.*
myst-parser == 0.15.*
setuptools
sphinx == 4.*
sphinx_autodoc_typehints == 1.*
sphinx_rtd_theme == 1.*
sphinxprettysearchresults == 0.3.*
wheel
