# keep synchronous to pyproject.toml
# keep synchronous to src/VERSION.inc
pyjson5 == 1.6.8

# keep synchronous to requirements-dev.txt
docutils == 0.21.*
furo
myst-parser == 4.*
sphinx == 8.*
sphinx-autodoc-typehints == 3.*
