build
colorama == 0.4.*
cython < 4, >= 0.29
more_itertools == 10.*
mypy
setuptools >= 61
wheel

# keep synchronous to requirements-readthedocs.txt
docutils == 0.21.*
furo
myst-parser == 4.*
sphinx == 8.*
sphinx-autodoc-typehints == 3.*
