black
build
colorama == 0.4.*
cython < 4, >= 0.29
more_itertools == 10.*
mypy
setuptools
wheel

# keep synchronous to requirements-readthecocs.txt
docutils == 0.21.*
furo
myst-parser == 2.*
sphinx == 7.*
sphinx_autodoc_typehints == 2.*
