black
build
colorama == 0.4.*
cython == 0.*
more_itertools == 8.*
mypy
setuptools
wheel

# keep synchronous to requirements-readthecocs.txt
docutils == 0.17.*
myst-parser == 0.18.*
sphinx == 5.*
sphinx_autodoc_typehints == 1.*
sphinx_rtd_theme == 1.*
